//colors
$white: #ffffff;
$black: #000;
$yellow: rgba(247, 196, 65, 1);
$gray: #999999;
$grayLight: #f7f7f7;
$pale: #d9d9d9;
$wheat: #ffdc7d;
$red: #E5444A;

//fonts
$roboto: 'Roboto';

//font-sizes
$fontSize13: 14px; 
$fontSize18: 18px;
$fontSize30: 30px;
$fontSize46: 46px;

$h1-font-size: $fontSize46;
$h2-font-size: $fontSize30;
$h3-font-size: $fontSize18;
$base-font-size: $fontSize18;
$p-font-size: $fontSize13;

//breakpoints
$desktop: 1440px;