.OfferMessageComponentView {
    &__content {
        margin-bottom: 20px;
    }
    &__actions {
        display: flex;
        justify-content: center;
        .ActionButton {
            width: 400px;
        }
    }
}